@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(36, 22, 22, 0.959);
}


section {
  background-color: rgba(161, 144, 144, 0.699);
  padding: 50px;
  /* background-color: blue; */
  text-align: center;
  border-radius: 5px;
  font-family: "Space Grotesk", sans-serif;
  color: white;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 120px; 
}


.button {
  padding: 15px;
  font-family: "Jost", sans-serif;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  
}

.button:hover {
  cursor: pointer;
  transition: .3s;
  padding: 20px;
}

#button-soma:hover {
  background-color: rgb(250, 182, 57);
}

#button-subtrai:hover {
  background-color: rgb(130, 157, 231);
  
}


#button-reset:hover {
  background-color: black;
  color: white;
}
